<h1 class="welcome">Welcome to CSE Motors!</h1>
<div class="hero">
    <img src="/images/vehicles/delorean-tn.jpg" alt="delorean-tn" width="100" class="small">
    <img src="/images/vehicles/delorean.jpg" alt="delorean" width="100" class="large">
    <div class="pickup">
        <h2>DMC Delorean</h2>
        <h2>3 Cup holders</h2>
        <h2>Superman doors</h2>
        <h2>Fuzzy dice!</h2>
        <button>Own Today</button>
    </div>
    
</div>
<div class="features">
    <div class="upgrades">
        <h2 class="sectitle">Delorean Upgrades</h2>
        <div class="cards">
            <div class="card">
                <div class="cardbg">
                    <img src="/images/upgrades/flux-cap.png" alt="flux cap">
                </div>
                <p class="cardcap">Flux Capacitor</p>
            </div>
            <div class="card">
                <div class="cardbg">
                    <img src="/images/upgrades/flame.jpg" alt="flame">
                </div>
                <p class="cardcap">Flame Decals</p>
            </div>
            <div class="card">
                <div class="cardbg">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper">
                </div>
                <p class="cardcap">Bumper Stickers</p>
            </div>
            <div class="card">
                <div class="cardbg">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub">
                </div>
                <p class="cardcap">Hub Caps</p>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h2 class="sectitle">DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>

    </div>
</div>
