@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Merriweather:ital@1&family=Source+Sans+Pro&display=swap');
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;

}



:root{
  --heading-font: Merriweather;
  --paragraph-font: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  --primary-color: #00306e;
  --secondary-color: #3372e6 ; 
  --accent1-color: #a0f49f;
  --accent2-color: #cdc392;
  --required-border: solid 8px red;
  --valid-border: solid 8px green;
}


main {
  padding: 0 2vw;
}

#top-header{
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  padding: 0 2vw;
}

.siteName a{
  font-family: var(--heading-font);
  font-size: 2rem;
  text-decoration: none;
  color: black;
  margin: 1rem auto;
}

#tools {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}


nav{
  padding: .5rem;
  width: 100%;
  background-color: var(--primary-color);
}

nav ul{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav ul li{
  list-style: none;
}

nav ul li a {
  color: white;
}

h1{
  font-size: 1.5rem;
}

.hero{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.large{
  display: none;
}

.small{
  display: block;
}

.hero img {
  grid-area: 1/2/4/16;
  width: 100%;
}


.pickup{
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
  grid-area: 1/2/2/8;
  background-color: rgb(207, 236, 248, .5);
  margin: 0 auto;
}

.pickup h2{
  font-size: 1rem;
  font-family: var(--heading-font);
  margin: 0;
  margin-bottom: 1vw;
  font-weight: bold;
}

.pickup p {
  margin: 0;
}

.pickup button{
  background-color: var(--secondary-color);
  border: none;
  color: white;
}

.cards{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-gap: 1rem;
}

.card{
  padding: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardbg{
  display: grid;
  background-color: var(--secondary-color);
  width: 100%;
  height: 75px;
  box-shadow: 1px 1px 10px gray;
  border: solid thin black;
}

.cardbg img{
  margin: 0 auto;
  align-self: center;
  height: 80%;
}

.cardcap{
  margin: 0;
}

#inv-display {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 3%;
  justify-content: center;
  padding-left: 0px;
}

#inv-display li{
  width: 250px;
  list-style: none;
  display: grid;
  grid-template-rows: 180px 150px;
  border-radius: 10px;
  border: solid black 1px;
  
}

#inv-display a{
  grid-row: 1/2;
}

#inv-display img{
  width: 99%;
  border-radius: 10px 10px 0 0;
}

.namePrice {
  display: block;
}

.namePrice hr{
  height: 5px;
  width: 250px;
  background-color: black;
}

.namePrice h2{
  text-align: center;
}
.namePrice h2 a{
  font-size: 1.2rem;
}
.namePrice span {
  display: block;
  text-align: center;
}

#vehicle-detail img{
  width: 100%;
}

#vehicle-desc h2 {
  font-size: 1.5rem;
}

#vehicle-desc p{
  margin: 0;
  padding: 2vw;
}

#vehicle-desc p:nth-child(even) {
  background-color: rgb(240, 239, 239);
}

.class-name, .vehicle-name {
  font-family: var(--paragraph-font);
}

#errBtn {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  border: solid black thin;
  background-color: lightgray;
  display: block;
}

#errBtn p{
  margin: 0;
  text-align: center;
}


footer {
  padding: 0 2vw;
  padding-bottom: 2vw;
}

#errTitle {
  font-family: var(--paragraph-font);
}

#errMsg{
  font-size: 1.2rem;
}

fieldset{
  background-color: rgb(0, 21, 69);
  margin: 2rem 2rem;
  border-radius: 6px;
  padding: .5rem 2%;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

fieldset label, fieldset p{
  display: block;
  width: 100%;
  max-width: 250px;
  color: white;
  text-align: left;
  margin: 0 auto;
}

input, textarea, select{
  width: 100%;
  max-width: 250px;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

textarea{
  height: 6rem;
}

input[type="submit"] {
  border: none;
  background-color: white;
  border-radius: 20px;
  margin-top: 1rem;
}

.red-register {
  color: white;
}

.red-register a {
  color: white;
}

fieldset legend {
  text-align: left;
  font-weight: bold;
  background-color: rgb(246, 63, 63);
  color: white;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid, select:required:invalid, select:focus:invalid {
  border-right: var(--required-border);
}

input:required:valid, textarea:required:valid, select:required:valid {
 border-right: var(--valid-border);
}

@media only screen and (min-width: 800px) {

  .welcome{
    padding-left: 2vw;

  }

  
  body{
    background-image: url("/images/site/small_check.jpg");
    background-size: cover;
    margin: 0;
  }

  #wrapper{
    max-width: 80%; 
    border: solid 5px;
    border-radius: 10px;
    border-color: var(--secondary-color);
    background-color: white;
    margin: 5% auto;

  }
  
  nav ul{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  h1{
    font-size: 2rem;
  }

  .large{
    display: block;
  }
  
  .small{
    display: none;
  }

  .pickup{
    grid-area: 2/2/3/6;
  }

  .pickup h2, .pickup p, button{
    font-size: 1.5rem;
  }

  .features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 2vw;
  }

  .upgrades{
    grid-column: 1/2;
  }

  .reviews{
    grid-column: 2/3;
  }
  
  #vehicle-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }

  #vehicle-detail img{
    grid-column: 1/2;
    width: 100%;
  }

  fieldset{
    background-color: rgb(0, 21, 69);
    margin: 2rem 2rem;
    border-radius: 6px;
    padding: .5rem 2%;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}
